$prefix-cls: dgsq;

$backdrop-bg: rgba(0, 0, 0, .4) !default;
$modal-bg: #fff !default;
$modal-border-radius: 0.75rem !default;
$image-wrapper-bg: #000 !default;
$divider-color: #e0e0e0 !default;
$sidebar-padding: 2rem !default;
$header-padding-x: 2rem !default;
$header-padding-y: 1.5rem !default;
$btn-hover-bg: rgba(0,0,0,.07) !default;
$btn-close-color: #000 !default;
